body {
	background-color: #FFF;
	font-family: Exchange;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-family: "Brush Script MT";
	color: #000;
	font-size: 60pt;
	margin: 0;
}

h2, h3 {
	font-family: Escrow;
	color: #000;
	margin: 0;
}

#container {
	background-color: white;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #EFEFEF;
	color: white;
	text-align: center;
}

#headerIcon {
	float: left;
}

#headerTitle {
	text-align: center;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#main {
	width: 1000px;
	float: right;
}

#footer {
	clear: both;
	padding: 10px;
	font-family: "Book Antiqua";
	background-color: #EFEFEF;
	color: #666;
	text-align: center;
}