@font-face { font-family: Knights Quest; src: url('../fonts/Knights Quest.ttf'); }
@font-face { font-family: Cimbrian; src: url('../fonts/Cimbrian.ttf'); }

body {
	background-color: #FFF;
	font-family: Exchange;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
  color: blue;
}

h1 {
	color: #000;
	font-size: 60pt;
	margin: 0;
}

h2, h3 {
	font-family: Escrow;
	color: #000;
	margin: 0;
}

 p {
  font-size: 18px;
 }

button {
  height: 40px;
  font-family: Comic sans MS;
  margin: 10px;
}

#container {
	background-color: white;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #EFEFEF;
	color: white;
	text-align: center;
	height: 200px;
}

#headerIcon {
	float: left;
    /* border-style: solid; */
    /* border-color: black; */
    width: 180px;
    height: 180px;
    margin: 10px;
}

#headerTitle {
	text-align: center;
}

#mainPageTitle {
	font-family: Cimbrian;
    padding: 10px;
}

#mainPageSubtitle {
	font-family: Knights Quest;
	font-size: 36px;
	color: #000;
	text-align: center;
    padding: 10px;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#main {
	width: 1000px;
	float: right;
}

#footer {
	clear: both;
	padding: 20px;
	line-height: 2em;
	font-family: Book Antiqua;
	background-color: #EFEFEF;
	color: #666;
	text-align: center;
}

.clickable {
	cursor: pointer;
}

.collapsibleContent {
	display: none;
}
